// https://stackoverflow.com/questions/43662552/getting-columns-to-wrap-in-css-grid (/* see notes below */)

.elements-grid-main {
  width: 100%;
  margin-bottom: -12px;

  .grid-container {
    display: grid;
    grid-gap: 22px;
    overflow: hidden;   // "overflow: hidden" To support Safari
    padding: 12px 0px;
  }
}



