@import './src/assets/config/utils.scss';

.view-recipe-main {
  width: 100%;

  .recipe-spec {
    padding: 32px;
  }

  .ingredients-container {
    margin-top: -3px;
  }

  .instructions-container {
    margin-top: -15px;
  }

  img {
    height: 190px !important;
    object-fit: cover;
  }

  p {
    margin-top: 10px;
    padding: 10px;
    background: $color-mouse;
    border-radius: 13px;
  }
}