
<div class="view-recipe-main">
  @if (recipe$ | async; as recipe) {
    <img [ngSrc]="recipe?.image! || 'non-empty'" fill priority>

    <div class="recipe-spec">
      <div class="recipe-header">
        <recipe-header
          [name]="recipe.name"
          [autor]="recipe.author"
          [createdAt]="recipe.createdAt"
          [style]="recipe.style"
          [time]="recipe.time"
          [favorite]="recipe.favorite"
          (update)="update()"
          (like)="like(recipe)">
        </recipe-header>
      </div>
      
      <inputs-container [gap]="45">
        <input-field>
          <b>Notes:</b>
          <p>{{ recipe.notes }}</p>
        </input-field>
      </inputs-container>

     

     
    </div>
  } 

  @if (error$ | async) { 
    Oppsss, we ran into an error :(
  }
</div>