@import './src/assets/config/utils.scss';

.input-icon-main {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;
  background: $color-mouse;

  .mat-icon-container {
    padding-top: 7px;
  }

  .input-container {
    position: relative;
    width: 100%;
    padding: 0px 5px;
  }

  mat-icon {
    cursor: pointer;
  }
}