
.inputs-container-main {
  width: 100%;

  .inputs-placeholder {
    display: flex;
    gap: 10px;
  }

  .space-between {
    justify-content: space-between;
  }

  .space-evenly {
    justify-content: space-evenly;
  }

  .space-around {
    justify-content: space-around;
  }

  .content-end {
    justify-content: end;
  }
}