@import './src/assets/config/utils.scss';

.edit-recipe-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 32px;
  max-width: 671.88px !important;

  .header-container {
    padding-top: 20px;
  }
}