
<div class="edit-recipe-main"> 
  @if (recipe$ | async; as recipe) {
    <form #ngform="ngForm"
      [recipe]="recipe"
      (ngSubmit)="ngform.valid && submit(recipe)"
      novalidate
      atLeastOneIngredient
      atLeastOneInstruction
      runChangeDetection
    >
      @if(recipe.id) {
        <h1>Update Recipe</h1>
      } @else { 
        <h1>New Recipe</h1>
      }

      <inputs-container [gap]="45">
        <input-field>
          <input-text
            [control]="name.control"
            [placeholder]="'Name'"
            [validation]="'Required field'"
            [required]="true"
            [(ngModel)]="recipe.name"
            #name="ngModel"
            id="name"
            name="name"
            pattern="[a-zA-Z ]*"
            ngDefaultControl>
          </input-text>
        </input-field>

        <input-field [style.width.px]="245">
          <input-select
            [items]="styles"
            [control]="style.control"
            [value]="recipe.style"
            [placeholder]="'Style'"
            [validation]="'Required field'"
            [required]="true"
            [ngModel]="recipe.style"
            (onchange)="recipe.style=$event"
            #style="ngModel"
            id="style"
            name="style"
            ngDefaultControl>
          </input-select>
        </input-field>
      </inputs-container>

      <inputs-container [gap]="10">
        <input-field>
          <input-text
            [control]="author.control"
            [placeholder]="'Author'"
            [validation]="'Required field'"
            [required]="true"
            [(ngModel)]="recipe.author"
            #author="ngModel"
            id="author"
            name="author"
            pattern="[a-zA-Z ]*"
            ngDefaultControl>
          </input-text>
        </input-field>

        <input-field [style.width.px]="245">
          <input-number
            [control]="time.control"
            [validation]="'Required field'"
            [placeholder]="'Time(minutes)'"
            [required]="true"
            [(ngModel)]="recipe.time"
            #time="ngModel"
            id="time"
            name="time"
            minlength="1"
            maxlength="3"
            ngDefaultControl>
          </input-number>
        </input-field>
      </inputs-container>

      <inputs-container [gap]="10">
        <input-field>
          <input-text
            [control]="image.control"
            [placeholder]="'Image'"
            [validation]="'Required field'"
            [required]="true"
            [(ngModel)]="recipe.image"
            #image="ngModel"
            id="image"
            name="image"
            ngDefaultControl>
          </input-text>
        </input-field>
      </inputs-container>

      <inputs-container [gap]="10">
        <input-field>
          <input-textarea
            [control]="notes.control"
            [placeholder]="'Your notes here...'"
            [validation]="'Required field'"
            [required]="true"
            [rows]="5"
            [(ngModel)]="recipe.notes"
            #notes="ngModel"
            id="notes"
            name="notes"
            minlength="20"
            ngDefaultControl>
          </input-textarea>
        </input-field>
      </inputs-container>

      <div class="header-container">
        <edit-header [title]="'Ingredients'" (add)="add(recipe, 'ingredients')"></edit-header>
      </div>
     
      <div class="input-icon-container" *ngFor="let ingredient of recipe.ingredients; let i=index; trackBy: trackByFn">
        <input-icon [icon]="'delete'" (onclick)="remove(recipe, i, 'ingredients')">
          <input-text
            [control]="ngform.controls['ingredient_' + i] | abstractToFormControl"
            [value]="ingredient"
            [placeholder]="'Ingredient ' + (i + 1)"
            [required]="true"
            [id]="'ingredient_' + i"
            [name]="'ingredient_' + i"
            [(ngModel)]="recipe.ingredients[i]"
            ngDefaultControl>
          </input-text>
        </input-icon>
      </div>

      <mat-error *ngIf="ngform.errors?.['atLeastOneIngredient'] && ngform.submitted">
        At least one item is required!
      </mat-error>
      
      <div class="header-container">
        <edit-header [title]="'Instructions'" (add)="add(recipe, 'instructions')"></edit-header>
      </div>

      <div class="input-icon-container" *ngFor="let instruction of recipe.instructions; let i=index; trackBy: trackByFn">
        <input-icon [icon]="'delete'" (onclick)="remove(recipe, i, 'instructions')">
          <input-text
            [control]="ngform.controls['instruction_' + i] | abstractToFormControl"
            [value]="instruction"
            [placeholder]="'Instruction ' + (i + 1)"
            [required]="true"
            [id]="'instruction_' + i"
            [name]="'instruction_' + i"
            [(ngModel)]="recipe.instructions[i]"
            ngDefaultControl>
          </input-text>
        </input-icon>
      </div>
      
      <mat-error *ngIf="ngform.errors?.['atLeastOneInstruction'] && ngform.submitted">
        At least one item is required!
      </mat-error>
      
      <button #submiter type="submit" hidden></button>
    </form>

    <footer>
      <primary-button
        [placeholder]="'Save'"
        [palette]="'primary'"
        (onclick)="submiter.click()">
      </primary-button>

      <primary-button
        [placeholder]="'Delete Recipe'"
        [palette]="'warn'">
      </primary-button>
    </footer>
  } 

  @if (error$ | async) { 
    Oppsss, we ran into an error :(
  }
</div>