
<div class="edit-recipe-main"> 
  @if (recipe$ | async; as recipe) {
    <form #ngform="ngForm"
      [recipe]="recipe"
      (ngSubmit)="ngform.valid && submit(recipe)"
      novalidate
      atLeastOneIngredient
      atLeastOneInstruction
      runChangeDetection
    >
      @if(recipe.id) {
        <h1>Update Recipe</h1>
      } @else { 
        <h1>New Recipe</h1>
      }

      <inputs-container [margin]="45">
        <input-field>
          <input-text input
            [control]="name.control"
            [placeholder]="'Name'"
            [validation]="'Required field'"
            [required]="true"
            [(ngModel)]="recipe.name"
            #name="ngModel"
            id="name"
            name="name"
            pattern="[a-zA-Z ]*"
            ngDefaultControl>
          </input-text>
        </input-field>

        <input-field [width]="25">
          <input-single-select input
            [items]="styleEnum | enumToList"
            [control]="style.control"
            [value]="recipe.style"
            [placeholder]="'Style'"
            [validation]="'Required field'"
            [required]="true"
            [ngModel]="recipe.style"
            (onchange)="recipe.style=$event"
            #style="ngModel"
            id="style"
            name="style"
            ngDefaultControl>
          </input-single-select>
        </input-field>
      </inputs-container>

      <inputs-container [margin]="10">
        <input-field>
          <input-text input
            [control]="author.control"
            [placeholder]="'Author'"
            [validation]="'Required field'"
            [required]="true"
            [(ngModel)]="recipe.author"
            #author="ngModel"
            id="author"
            name="author"
            pattern="[a-zA-Z ]*"
            ngDefaultControl>
          </input-text>
        </input-field>

        <input-field [width]="25">
          <input-number input
            [control]="time.control"
            [validation]="'Required field'"
            [placeholder]="'Time(minutes)'"
            [required]="true"
            [(ngModel)]="recipe.time"
            #time="ngModel"
            id="time"
            name="time"
            minlength="1"
            maxlength="3"
            ngDefaultControl>
          </input-number>
        </input-field>
      </inputs-container>

      <inputs-container [margin]="10">
        <input-field>
          <input-text input
            [control]="image.control"
            [placeholder]="'Image'"
            [validation]="'Required field'"
            [required]="true"
            [(ngModel)]="recipe.image"
            #image="ngModel"
            id="image"
            name="image"
            ngDefaultControl>
          </input-text>
        </input-field>
      </inputs-container>

      <inputs-container [margin]="10">
        <input-field>
          <input-textarea input
            [control]="notes.control"
            [placeholder]="'Your notes here...'"
            [validation]="'Required field'"
            [required]="true"
            [rows]="5"
            [(ngModel)]="recipe.notes"
            #notes="ngModel"
            id="notes"
            name="notes"
            minlength="20"
            ngDefaultControl>
          </input-textarea>
        </input-field>
      </inputs-container>

      <div class="header-container">
        <edit-header [title]="'Ingredients'" (add)="add(recipe, 'ingredients')"></edit-header>
      </div>
     
      <inputs-container *ngFor="let ingredient of recipe.ingredients; let i=index; trackBy: trackByFn" [margin]="20">
        <input-field>
          <input-text input
            [control]="ngform.controls['ingredient-' + i] | abstractToFormControl"
            [value]="ingredient"
            [validation]="'Required field'"
            [placeholder]="'Ingredient ' + (i + 1)"
            [required]="true"
            [id]="'ingredient-' + i"
            [name]="'ingredient-' + i"
            [(ngModel)]="recipe.ingredients[i]"
            ngDefaultControl>
          </input-text>
        </input-field>
      </inputs-container>

      <mat-error *ngIf="ngform.errors?.['atLeastOneIngredient'] && ngform.submitted">
        At least one item is required!
      </mat-error>
      
      <div class="header-container">
        <edit-header [title]="'Instructions'" (add)="add(recipe, 'instructions')"></edit-header>
      </div>

      <inputs-container *ngFor="let instruction of recipe.instructions; let i=index; trackBy: trackByFn" [margin]="20">
        <input-field>
          <input-text input
            [control]="ngform.controls['instruction-' + i] | abstractToFormControl"
            [value]="instruction"
            [validation]="'Required field'"
            [placeholder]="'Instruction ' + (i + 1)"
            [required]="true"
            [id]="'instruction-' + i"
            [name]="'instruction-' + i"
            [(ngModel)]="recipe.instructions[i]"
            ngDefaultControl>
          </input-text>
        </input-field>
      </inputs-container>
      
      <mat-error *ngIf="ngform.errors?.['atLeastOneInstruction'] && ngform.submitted">
        At least one item is required!
      </mat-error>

      <button #submiter type="submit" hidden></button>
    </form>

    <inputs-container [margin]="25" between>
      <input-field [width]="25">
        <primary-button input
          [text]="'Delete Recipe'"
          [palette]="'warn'">
        </primary-button>
      </input-field>

      <input-field [width]="25">
        <primary-button input
          [text]="'Save'"
          [palette]="'primary'"
          (onclick)="submiter.click()">
        </primary-button>
      </input-field>
    </inputs-container>
  } 

  @if (error$ | async) { 
    Oppsss, we ran into an error :(
  }
</div>