
<div class="input-password-main">
  <mat-form-field>
    <mat-icon matSuffix (click)="!readonly ? (visible=!visible) : null">
      {{ visible ? 'visibility' : 'visibility_off' }}
    </mat-icon>

    <input matInput 
      [type]="visible ? 'text' : 'password'"
      [placeholder]="placeholder"
      [errorStateMatcher]="matcher"
      [formControl]="control"
      [readonly]="readonly"
      (input)="onchange.emit($event.target.value)">
      
    <mat-error>{{ validation }}</mat-error>
  </mat-form-field>
</div>

