
.input-comments-main {
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }

  mat-icon {
    cursor: pointer;
  }

  input {
    padding: 0px 20px
  }
}