
<div class="input-comments-main">
  <header>
    <span class="placeholder"><b>{{ placeholder }}</b></span>
    
    <primary-button 
      [icon]="'add'"
      [placeholder]="'Add'"
      (onclick)="add()">
    </primary-button>
  </header>
  
  @for (comment of value; track comment; let i = $index) {
    <inputs-container [gap]="5">
      <input-field>
        <mat-form-field>
          <mat-icon matSuffix (click)="remove(i)">{{ 'delete' }}</mat-icon>

          <input matInput 
            type="text"
            [value]="comment"
            [required]="true"
            [errorStateMatcher]="matcher"
            [ngModel]="comment"
            #[{{comment_i}}]="ngModel"
            id="{{'comment_' + i}}"
            name="{{'comment_' + i}}">
            
          <mat-error>{{ validation }}</mat-error>
        </mat-form-field>
      </input-field>
    </inputs-container>
  }
</div>