
$color-base: #673ab7;
$color-white: #FFFFFF;
$color-black: #000000;
$color-error: #F44336;
$color-success: #228B22;
$color-warning: #FFC007;
$color-silver: #808080;
$color-mouse: #F5F5F5;
$color-dark-gray: #1E1E1E;

$color-background-light: #FFFFFF;
$color-background-dark: #000000;

@mixin lighten() {
  --bgColor: #{$color-background-light};
}

@mixin darken() {
  --bgColor: #{$color-background-dark};
}