
$color-base: #673ab7;
$color-white: #FFFFFF;
$color-black: #000000;
$color-error: #F44336;
$color-success: #228B22;
$color-warning: #FFC007;
$color-silver: #808080;
$color-mouse: #F5F5F5;
$color-dark-gray: #1E1E1E;
